.profile__container {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
  }
  
  .profile__subcontainer {
    display: flex;
    flex-direction: row;
  }
  
  .profile__title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
   
  }
  
  .profile__add {
    margin: 0 0 2px 20px;
    opacity: 0.6;
    border: none;
    background-color: white;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    text-align: start;
  }
  
  .profile__add:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  .profile__cards {
    display: grid;
    margin: 17px 0 0 0;
    gap: 20px;
    padding: 0;
    grid-template-columns: repeat(3, 328px);
    justify-self: end;
  }